@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br/>
<div style="background-color:crimson">
    <div class="spinner-grow text-muted"></div>
<div class="spinner-grow text-primary"></div>
<div class="spinner-grow text-success"></div>
<div class="spinner-grow text-info"></div>
<div class="spinner-grow text-warning"></div>
<div class="spinner-grow text-danger"></div>
<div class="spinner-grow text-secondary"></div>
<div class="spinner-grow text-dark"></div>
<div class="spinner-grow text-light"></div>
<div class="spinner-grow text-muted"></div>
<div class="spinner-grow text-primary"></div>
<div class="spinner-grow text-success"></div>
<div class="spinner-grow text-info"></div>
<div class="spinner-grow text-warning"></div>
<div class="spinner-grow text-danger"></div>
<div class="spinner-grow text-secondary"></div>
<div class="spinner-grow text-dark"></div>
<div class="spinner-grow text-light"></div>
<div class="spinner-grow text-muted"></div>
<div class="spinner-grow text-primary"></div>
<div class="spinner-grow text-success"></div>
<div class="spinner-grow text-info"></div>
<div class="spinner-grow text-warning"></div>
<div class="spinner-grow text-danger"></div>
<div class="spinner-grow text-secondary"></div>
<div class="spinner-grow text-dark"></div>
<div class="spinner-grow text-light"></div>
<div class="spinner-grow text-light"></div>
<div class="spinner-grow text-muted"></div>
<div class="spinner-grow text-primary"></div>

</div>
    <p></p>
</div>
<div id="bgLayers_comp-jwhyqy6p" data-hook="bgLayers" class="_3wnIc">
    <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
    <div id="bgMedia_comp-jwhyqy6p" class="_2GUhU"></div></div>
<section id="comp-l5tmuel3" class="_3d64y">
    <div id="bgLayers_comp-l5tmuel3" data-hook="bgLayers" class="_3wnIc">
        <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
        <div id="bgMedia_comp-l5tmuel3" class="_2GUhU"></div>
        </div>
        <div data-testid="columns" class="_1uldx">
            <div id="comp-l5tmuemx" class="_1vNJf">
                <div id="bgLayers_comp-l5tmuemx" data-hook="bgLayers" class="_3wnIc">
                    <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                    <div id="bgMedia_comp-l5tmuemx" class="_2GUhU"></div>
                    </div>
                    <div data-mesh-id="comp-l5tmuemxinlineContent" data-testid="inline-content" class="">
                        <div data-mesh-id="comp-l5tmuemxinlineContent-gridContainer" data-testid="mesh-container-content">
                            <div id="comp-l5tn1kf8" class="XUUsC"><div data-testid="linkElement" class="xQ_iF">
                                <wix-image id="img_comp-l5tn1kf8" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-l5tn1kf8&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:2048,&quot;height&quot;:2048,&quot;uri&quot;:&quot;91db4c_ca5a308200304d0dbda2a9af94299364~mv2.jpg&quot;,&quot;name&quot;:&quot;WhatsApp Image 2021-10-20 at 11.58_edite&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/91db4c_ca5a308200304d0dbda2a9af94299364~mv2.jpg/v1/fill/w_388,h_388,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/WhatsApp%20Image%202021-10-20%20at%2011_58_edite.jpg"><img src="https://static.wixstatic.com/media/91db4c_ca5a308200304d0dbda2a9af94299364~mv2.jpg/v1/fill/w_388,h_388,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/WhatsApp%20Image%202021-10-20%20at%2011_58_edite.jpg" alt="WhatsApp Image 2021-10-20 at 11.58_edite" style="width: 388px; height: 388px; object-fit: cover; object-position: 50% 50%;"></wix-image></div></div>
                                <p>A restaurant is a business that prepares and serves food and drinks to customers.[1] Meals are generally served and eaten on the premises, but many restaurants also offer take-out and food delivery services. Restaurants vary greatly in appearance and offerings, including a wide variety of cuisines and service models ranging from inexpensive fast-food restaurants and cafeterias to mid-priced family restaurants, to high-priced luxury establishments.</p>
                                <div id="comp-l5tmu7ka" class="XUUsC"><div data-testid="linkElement" class="xQ_iF">
                                    <wix-image id="img_comp-l5tmu7ka" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-l5tmu7ka&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:1170,&quot;height&quot;:1149,&quot;uri&quot;:&quot;91db4c_b4448fc162674240b265b3f2146b696d~mv2.jpeg&quot;,&quot;name&quot;:&quot;Jacks3.jpeg&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/91db4c_b4448fc162674240b265b3f2146b696d~mv2.jpeg/v1/fill/w_395,h_388,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Jacks3.jpeg"><img src="https://static.wixstatic.com/media/91db4c_b4448fc162674240b265b3f2146b696d~mv2.jpeg/v1/fill/w_395,h_388,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Jacks3.jpeg" alt="Jacks3.jpeg" style="width: 395px; height: 388px; object-fit: cover; object-position: 50% 50%;"></wix-image></div></div>
                                    <p>History

Remains of a thermopolium in Pompeii

Service counter of a thermopolium in Pompeii
A public eating establishment similar to a restaurant is mentioned in a 512 BC record from Ancient Egypt.
It served only one dish, a plate of cereal, wild fowl, and onions.[6]

A forerunner of the modern restaurant is the thermopolium, an establishment in Ancient Greece and Ancient Rome that sold and served ready-to-eat food and beverages. These establishments were somewhat comparable to modern fast food restaurants. They were most often frequented by people who lacked private kitchens.
In the Roman Empire they were popular among residents of insulae.[7]
</p>
                                    <div id="comp-l5tmx01n" class="XUUsC"><div data-testid="linkElement" class="xQ_iF"><wix-image id="img_comp-l5tmx01n" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-l5tmx01n&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:1170,&quot;height&quot;:1280,&quot;uri&quot;:&quot;91db4c_26feedcefdc74fd2bcd600428129a8d9~mv2.jpeg&quot;,&quot;name&quot;:&quot;jacks .jpeg&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/91db4c_26feedcefdc74fd2bcd600428129a8d9~mv2.jpeg/v1/fill/w_395,h_388,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/jacks%20.jpeg"><img src="https://static.wixstatic.com/media/91db4c_26feedcefdc74fd2bcd600428129a8d9~mv2.jpeg/v1/fill/w_395,h_388,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/jacks%20.jpeg" alt="jacks .jpeg" style="width: 395px; height: 388px; object-fit: cover; object-position: 50% 50%;"></wix-image>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<div>
    <h3>----------------------------------------WELCOME--------------------------------------------</h3>
</div>
<div>
    <table>
        <tr>
            <td>
                <img src="~/Images/pic4.jpg" width="600px">
            </td>
            <td>
                <img src="~/Images/pic2.jpg" width="600px">
            </td>
        </tr>
    </table>
</div>
<div>
    <h3>............... Welcome to the Club..........................</h3>
</div>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/Images/pic11.jpg" alt="North Indian" width="1300px" height="300px">
    </div>
    <div class="carousel-item">
      <img src="~/Images/pic15.jpg" alt="Ocean View" width="1300px" height="300px">
    </div>
    <div class="carousel-item">
      <img src="~/Images/pic16.jpg" alt="Fish" width="1300px" height="300px">
    </div>
    <div class="carousel-item">
      <img src="~/Images/pic17.jpg" alt="New York" width="1300px" height="300px">
    </div>
    <div class="carousel-item">
      <img src="~/Images/pic14.jpg" alt="Restaurant" width="1300px" height="300px">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<footer tabindex="-1" id="SITE_FOOTER_WRAPPER">
    <div id="SITE_FOOTER" class="_3Fgqs">
        <div class="rmFV4"></div><div class="_319u9">
            <div class="_3N4he"></div><div class="_1U65c">
                <div data-mesh-id="SITE_FOOTERinlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="SITE_FOOTERinlineContent-gridContainer" data-testid="mesh-container-content">
                        <div id="comp-jxvz3tgj" class="_2Hij5 _3bcaz" data-testid="richTextElement">
                            <h1 class="font_0" style="font-size:20px; line-height:normal; text-align:center;">
                                <span style="font-size:20px;">
                                    <span class="color_15">
                                        <span style="font-family:wfont_081eab_2fb2be20f28f4e1087486811621e2f41,wf_2fb2be20f28f4e10874868116,orig_gothammedium;"><span style="letter-spacing:normal;">LOCATIONS</span></span></span></span></h1></div>
                                        <div id="comp-jxvz731w" class="_2Hij5 _3bcaz" data-testid="richTextElement">
                                            <h1 class="font_0" style="font-size:13px; line-height:normal; text-align:center;">
                                                <span class="color_15">
                                                    <span style="font-family:wfont_0ee50d_128bd103996d419b9177918168c8546c,wf_128bd103996d419b917791816,orig_gothambook;">
                                                        <span style="letter-spacing:normal;">
                                                            <a href="http://www.jacksbarlondon.co.uk" target="_blank" rel="noreferrer noopener">
                                                                <span style="font-size:13px;">JACKS BAR</span></a></span></span></span></h1></div>
                                                                <div id="comp-jxvz7r6t" class="_2Hij5 _3bcaz" data-testid="richTextElement">
                                                                    <h1 class="font_0" style="font-size:13px; line-height:normal; text-align:center;">
                                                                        <span class="color_15">
                                                                            <span style="font-family:wfont_0ee50d_128bd103996d419b9177918168c8546c,wf_128bd103996d419b917791816,orig_gothambook;"><span style="letter-spacing:normal;"><a href="http://www.mcandsonslondon.com" target="_blank" rel="noreferrer noopener">
                                                                                <span style="font-size:13px;">MC &amp; SONS</span></a></span></span></span></h1></div>
                                                                                <div id="comp-jxvz593r" class="_2Hij5 _3bcaz" data-testid="richTextElement">
                                                                                    <h1 class="font_0" style="font-size:13px; line-height:normal; text-align:center;">
                                                                                        <span class="color_15"><span style="font-family:wfont_0ee50d_128bd103996d419b9177918168c8546c,wf_128bd103996d419b917791816,orig_gothambook;"><a href="http://www.theringbarlondon.co.uk" target="_blank" rel="noreferrer noopener">
                                                                                            <span style="letter-spacing:normal;"><span style="font-size:13px;">THE RING</span></span></a></span></span></h1></div><div id="comp-jxvz60of" class="_2Hij5 _3bcaz" data-testid="richTextElement">
                                                                                                <h1 class="font_0" style="font-size:13px; line-height:normal; text-align:center;"><span class="color_15"><span style="font-family:wfont_0ee50d_128bd103996d419b9177918168c8546c,wf_128bd103996d419b917791816,orig_gothambook;"><span style="letter-spacing:normal;"><a href="http://www.thekingsarmslondon.co.uk" target="_blank" rel="noreferrer noopener"><span style="font-size:13px;">THE KINGS ARMS</span></a></span></span></span></h1></div><div id="comp-jxykb7ud" class="_2Hij5 _3bcaz" data-testid="richTextElement"><h1 class="font_0" style="font-size:13px; line-height:normal; text-align:center;"><span class="color_15"><span style="font-family:wfont_0ee50d_128bd103996d419b9177918168c8546c,wf_128bd103996d419b917791816,orig_gothambook;"><span style="letter-spacing:normal;"><a href="http://www.johnnyrice.co.uk" target="_blank" rel="noreferrer noopener"><span style="font-size:13px;">JOHNNY RICE THAI FOOD</span></a></span></span></span></h1></div><div id="comp-l5ky6ysq" class="_2Hij5 _3bcaz" data-testid="richTextElement"><h1 class="font_0" style="font-size:20px; line-height:normal; text-align:center;"><span style="font-size:20px;"><span class="color_15"><span style="font-family:wfont_081eab_2fb2be20f28f4e1087486811621e2f41,wf_2fb2be20f28f4e10874868116,orig_gothammedium;"><span style="letter-spacing:normal;">OPENING TIMES</span></span></span></span></h1></div><div id="comp-l5mcivpm" class="_2Hij5 _3bcaz" data-testid="richTextElement"><h1 class="font_0" style="font-size:20px; line-height:normal; text-align:center;"><span style="font-size:20px;"><span class="color_15"><span style="font-family:wfont_081eab_2fb2be20f28f4e1087486811621e2f41,wf_2fb2be20f28f4e10874868116,orig_gothammedium;"><span style="letter-spacing:normal;">CONTACT</span></span></span></span></h1></div><div id="comp-l5mccxq1" class="_2Hij5 _3bcaz" data-testid="richTextElement"><h1 class="font_0" style="font-size:13px; line-height:1.2em;"><span class="color_15"><span style="font-family:wfont_0ee50d_128bd103996d419b9177918168c8546c,wf_128bd103996d419b917791816,orig_gothambook;"><span style="letter-spacing:normal;"><a href="http://www.jacksbarlondon.co.uk" target="_blank" rel="noreferrer noopener"><span style="font-size:13px;">MON/TUE: 11:30AM - 11PM<br>
WED/THU: 11:30AM - 11:30PM<br>
FRI/SAT: 11:30AM - 12AM&nbsp;<br>
SUN: CLOSED</span></a></span></span></span></h1></div><div id="comp-l5mcj9cw" class="_2Hij5 _3bcaz" data-testid="richTextElement"><h1 class="font_0" style="font-size:13px; line-height:1.3em;"><span class="color_15"><span style="font-family:wfont_0ee50d_128bd103996d419b9177918168c8546c,wf_128bd103996d419b917791816,orig_gothambook;"><span style="letter-spacing:normal;"><a href="http://www.jacksbarlondon.co.uk" target="_blank" rel="noreferrer noopener"><span style="font-size:13px;">96 Dev Kali Road, Ayodhaya U.P. India<br>
TEL:&nbsp;</span></a><a href="https://www.google.com/search?q=jacks+bar&amp;oq=jacks+bar&amp;aqs=chrome.0.69i59l2j46i39i175i199j0i10i131i433i512j46i175i199i512j69i60l3.1353j0j9&amp;sourceid=chrome&amp;ie=UTF-8#" target="_blank" rel="noreferrer noopener">020 7928 0678<br>
EMAIL: ADITYADUBEY@WINDMILLTAVERNS.COM</a></span></span></span><br>
<br>
<br>
<br>
&nbsp;</h1></div><div id="comp-jxyjy9gw" class="_2Hij5 _3bcaz" data-testid="richTextElement"><h1 class="font_0" style="font-size:13px; line-height:normal; text-align:center;"><span class="color_15"><span style="font-family:wfont_0ee50d_128bd103996d419b9177918168c8546c,wf_128bd103996d419b917791816,orig_gothambook;"><span style="letter-spacing:normal;"><a href="http://www.windmilltaverns.com" target="_blank" rel="noreferrer noopener"><span style="font-size:13px;">WORK WITH US</span></a></span></span></span></h1></div></div></div></div></div></div></footer>