@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><h3>Effective Date: January 1, 2022</h3>

DSG, Inc. d/b/a Le Méridien Houston Downtown and its subsidiaries and affiliated companies are committed to protecting the privacy of certain data that is collected about you. This Privacy Policy describes our policies and practices regarding the collection, use, and disclosure of personal data or personal information, as defined by applicable law (“personal data”), that we collect about you, including personal data you submit or we obtain when you access or use this website or websites, apps, or other online media under our operation and control, or through HTML-formatted email messages that we send to you that link to this Privacy Policy (collectively, the “Site”), as well as certain other personal data relating to you that we collect when you make a reservation, stay as a guest at a Company property, attend events at a Company property or events hosted by us, use on-property services, such as concierge and meeting services, or visit on-property outlets, such as restaurants and spas (collectively, the “Services”). This Privacy Policy applies to information collected by the Company, its subsidiaries and affiliated companies, and its third-party hotel management company, Davidson Hotel Company LLC (collectively referred to in this Privacy Policy as the “Company”, “we”, “us” or “our”).

Our Privacy Policy explains: (1) what information we collect; (2) why we collect it; (3) how we use that information; (4) how we may share it; and (5) the choices we offer, including how to access and update information. Specifically, our Privacy Policy covers the following topics:

When This Privacy Policy Applies
<br/>

<br/>
<div style="background-color:crimson">
    <div class="spinner-grow text-muted"></div>
<div class="spinner-grow text-primary"></div>
<div class="spinner-grow text-success"></div>
<div class="spinner-grow text-info"></div>
<div class="spinner-grow text-warning"></div>
<div class="spinner-grow text-danger"></div>
<div class="spinner-grow text-secondary"></div>
<div class="spinner-grow text-dark"></div>
<div class="spinner-grow text-light"></div>
<div class="spinner-grow text-muted"></div>
<div class="spinner-grow text-primary"></div>
<div class="spinner-grow text-success"></div>
<div class="spinner-grow text-info"></div>
<div class="spinner-grow text-warning"></div>
<div class="spinner-grow text-danger"></div>
<div class="spinner-grow text-secondary"></div>
<div class="spinner-grow text-dark"></div>
<div class="spinner-grow text-light"></div>
<div class="spinner-grow text-muted"></div>
<div class="spinner-grow text-primary"></div>
<div class="spinner-grow text-success"></div>
<div class="spinner-grow text-info"></div>
<div class="spinner-grow text-warning"></div>
<div class="spinner-grow text-danger"></div>
<div class="spinner-grow text-secondary"></div>
<div class="spinner-grow text-dark"></div>
<div class="spinner-grow text-light"></div>
<div class="spinner-grow text-light"></div>
<div class="spinner-grow text-muted"></div>
<div class="spinner-grow text-primary"></div>

</div>
<br/><b>Terms of Use</b>&nbsp;<br/>

Information We Collect

How We Use Information We Collect

Information We Share

Your Failure to Provide Personal Data

Our Retention of Your Personal Data

Your Choices and Accessing, Updating or Deleting Your Personal Data

Third Party Links

International Transfer

How We Protect Personal Data

Children

"Do Not Track" Signals

Changes to this Privacy Policy

Applicable Law

California Consumer Privacy Policy

European Users’ Privacy Rights

How to Contact Us



Please familiarize yourself with our privacy practices and let us know if you have any questions.  By using the Sites and the Services, you signify your acceptance of this Privacy Policy. If you do not agree to this Privacy Policy, please do not use the Sites or Services.

Irrespective of which country you live in, you authorize us to transfer, store, and use your information in the United States, and any other country where we operate. In some of these countries, the privacy and data protection laws and rules regarding when government authorities may access data may vary from those in the country where you live. Learn more about our data transfer operations in the "International Transfer" section below. If you do not agree to the transfer, storage and use of your information in the United States, and any other country where we operate, please do not use the Sites or Services.

If you provide personal data about other people (for example, you make a reservation for another individual), you represent that you have the authority to do so and you permit us to use the data in accordance with this Privacy Policy.

If you have any questions or comments about this Privacy Policy, please submit a request to privacy@davidsonhotels.com.

WHEN THIS PRIVACY POLICY APPLIES

Our Privacy Policy applies to the Sites under the Company’s operation and control and to the Services offered by the Company, but excludes websites, apps, other online media and services that have separate privacy policies that do not incorporate this Privacy Policy.

We are not responsible for data collection, data use practices, privacy policies or the use of cookies or tracking technologies on hotel brand websites or other non-Company websites that you may access from this Site or that have directed or connected you to this Site.

Please note that Hilton, which includes Hilton Worldwide Holdings Inc. and its affiliates, does not control our Sites and is not responsible for the contents, privacy policies or other practices of our Sites.

If you are a California consumer, as defined by the California Consumer Privacy Act (CCPA), please also see the section below regarding your California Privacy Rights. If you are located in the EU, please see the section below on EU specific rights.

TERMS OF USE

By accessing or using the Sites in any manner, you also agree to be bound by the Company’s Terms of Use (the "Agreement"). Please read the Agreement carefully. If you do not accept all of the terms and conditions contained in or incorporated by reference into the Agreement, please do not use the Sites.</p>
